<header class="header {{classes}}">
    {{#if beta}}
    {{> @beta-bar }}
    {{/if}}
    <div class="header__top" role="banner">
        <div class="container">
            <div class="grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                <div class="grid__col col-auto">
                    <div class="logo">
                        <img src="{{path '/assets/img/ons-logo-black-{{#if cy}}cy{{else}}en{{/if}}.svg'}}" alt="{{#if cy}}Logo Swyddfa Ystadegau Gwladol{{else}}Office for National Statistics logo{{/if}}" class="logo__img header__logo--print">
                        <a href="#1">
                            <img src="{{path '/assets/img/ons-logo-{{#if internal}}white{{else}}pos{{/if}}{{#if cy}}-cy{{else}}{{/if}}.svg'}}" alt="{{#if cy}}Logo Swyddfa Ystadegau Gwladol{{else}}Office for National Statistics logo{{/if}}" class="logo__img header__logo print__hidden">
                        </a>
                    </div>
                </div>
                {{#if services}}
                <div class="grid__col col-auto col-no-shrink u-d-no--@xs@m">
                    <nav class="nav nav--horizontal {{#if internal}}nav--light{{/if}} u-d-no--@xs@m u-fr" aria-label="Site services menu">
                        <ul class="nav__list" role="menubar" aria-label="Site services menu">
                            {{#each services}}
                            <li class="nav__item" role="menuitem"><a href="{{link}}" class="nav__link">{{text}}</a></li>
                            {{/each}}
                        </ul>
                    </nav>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="header__main {{#if nav}}header__main--border{{/if}}">
        <div class="container">
            <div class="grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                <div class="grid__col col-auto col-shrink">
                    <h1 class="header__title">{{title}}</h1>
                    {{#if description}}
                    <p class="header__desc">{{description}}</p>
                    {{/if}}
                </div>
                {{#if (or button nav)}}
                <div class="grid__col col-auto col-no-shrink">
                  {{#if button}}
                    {{> @button  btn-classes="btn--ghost u-ml-s u-d-no--@xs@m" label=button}}
                  {{/if }}
                  {{#if nav}}
                    {{> @button--mobile btn-classes='u-fr u-d-no--@m'}}
                  {{/if}}
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{#if nav}}
    <div class="header__nav">
        <div class="container">
            <nav class="nav nav--horizontal nav--light nav--main nav--h-m js-main-nav" aria-label="Main menu" {{#unless main}}aria-hidden="true"{{/unless}} id="main-nav">
                <ul class="nav__list" aria-label="Navigation menu" role="menubar">
                    {{#each main}}
                    <li class="nav__item {{classes}}" role="menuitem" {{#if aria-current}}aria-current="page"{{/if}}><a href="{{link}}" class="nav__link">{{text}}</a></li>
                    {{/each}}
                    {{#each services}}
                    <li class="nav__item {{#if @first}}nav__item--secondary{{/if}} u-d-no--@m" role="menuitem"><a href="{{link}}" class="nav__link print__hidden">{{text}}</a></li>
                    {{/each}}
                    {{#if button}}
                    <li class="nav__item u-d-no--@m" role="menuitem">{{> @button btn-classes='btn--ghost print__hidden' label=button}}</li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </div>
    {{/if}}
</header>
