<div class="message{{#if message_variant}} message-{{message_variant}}{{/if}}" id="messageID{{#if message_variant}}{{message_variant}}{{/if}}">
  <div class="metadata metadata--message">
    <span class="metadata--message-from {{#if message_internal}}icon--logo-ons{{else}}icon--person{{/if}}"></span>
    <dl class="metadata__list u-mb-s">
      <dt class="metadata__term u-vh">From:</dt>
      {{#if message_internal}}<dd class="metadata__value venus">ONS Business Surveys Team</dd>{{else}}
      <dd class="metadata__value venus">Jacky Turner</dd>{{/if}}
      <dt class="metadata__term u-vh">Sent:</dt>
      <dd class="metadata__value metadata__value--datetime pluto">Fri 30 Jun 2017 at 11:47</dd>
    </dl>
  </div>
  <div class="message__body">
    {{{message_body}}}
  </div>
</div>
