<div class="answer answer--date">
  <div class="answer__fields js-fields">
    <fieldset class="fieldgroup fieldgroup--inline" data-qa="widget-date"{{#if description}} aria-describedby="{{concatStr id '-description'}}"{{/if}} role="group">
      {{#if legend}}
      <legend class="fieldgroup__title venus">{{legend}}</legend>
      {{/if}}

      {{#if description}}
      <div id="{{concatStr id '-description'}}" class="field__description mercury u-fw-n">{{description}}</div>
      {{/if}}
      <div class="fieldgroup__fields">
        <div class="field field--input">
          <label class="label mercury" for="{{concatStr id '-day'}}" data-qa="label-day">{{dayLabel}}</label>
          <input type="number" id="{{concatStr id '-day'}}" data-qa="input-StringField" class="input input--wn-2 input--StringField" pattern="\d*" min="1" max="31">
        </div>

        <div class="field field--select">
          <label class="label mercury" for="{{concatStr id '-month'}}" data-qa="label-month">{{monthLabel}}</label>
          <input type="number" id="{{concatStr id '-month'}}" data-qa="input-StringField" class="input input--wn-2 input--StringField" pattern="\d*" min="1" max="12">
        </div>

        <div class="field field--input">
          <label class="label mercury" for="{{concatStr id '-year'}}" data-qa="label-year">{{yearLabel}}</label>
          <input type="number" id="{{concatStr id '-year'}}" data-qa="input-StringField" class="input input--wn-4 input--StringField" pattern="\d*" min="1000" max="3000">
        </div>
      </div>
    </fieldset>
  </div>
</div>
