{{#if cy}}<section lang="cy"><!-- <section> added for pattern lib documentation only -->{{/if}}
<div class="answer__fields js-fields">
  {{#if cy}}{{> @label label_text="Rhannwch adborth" label_for=textarea_id label_id=textarea_label label_description="Er enghraifft disgrifiwch unrhyw anhawsterau a phrofwyd wrth defnyddio'r wasanaeth hon"}}
  {{else}}{{> @label label_text="Please provide some feedback" label_for=textarea_id label_id=textarea_label label_description="For example describe any difficulties you experienced in the use of this service"}}{{/if}}
  <textarea class="input input--textarea{{#if charlimit}} js-charlimit-input{{/if}}" cols="60"
            rows="8" id="{{textarea_id}}" name="{{textarea_id}}"
            {{#if charlimit}}maxlength="{{charlimit}}"{{/if}}
            aria-describedby="description-question"
            {{#if charlimit}}data-maxlength="{{charlimit}}" data-char-limit-ref="{{textarea_id}}-remaining"{{/if}}
            ></textarea>
  {{#if charlimit}}<div class="input__limit u-mt-xs u-fs-s--b" data-qa="textarea-with-limit" id="{{textarea_id}}-remaining" aria-live="polite"
    data-charcount-singular="{{#if cy}}Mae gennych {x} cymeriad yn weddill{{else}}You have {x} character remaining{{/if}}"
    data-charcount-plural="{{#if cy}}Mae gennych {x} cymeriad yn weddill{{else}}You have {x} characters remaining{{/if}}">
    {{#if cy}}Mae gennych {{charlimit}} cymeriad yn weddill{{else}}You have {{charlimit}} characters remaining{{/if}}</div>{{/if}}
</div>
{{#if cy}}<!-- <section> added for pattern lib documentation only --></section>{{/if}}
