<div class="answer__fields js-fields">
  {{> @label label_text="Please provide some feedback" label_for="textarea-answer" label_description="For example describe any difficulties you experienced in the use of this service"}}
  <textarea class="input input--textarea js-charlimit-input" cols="60" rows="8" id="{{textarea_id}}" name="{{textarea_id}}" maxlength="{{charlimit}}" aria-describedby="description-question guidance-answer-trigger" data-maxlength="{{charlimit}}"></textarea>
  <div class="input__limit u-mt-xs mercury" data-qa="textarea-with-limit" id="{{textarea_id}}-remaining" aria-live="polite">You have <span>{{charlimit}}</span> characters remaining.</div>
</div>
