<div class="eq-tile">
  <div class="eq-tile-colour {{colour-name}}"><span class="eq-tile-panel-text">{{panel-text}}</span></div>
  <div class="eq-tile-info">
    <h1 class="eq-tile-info-title">{{colour-title}}</h1>
    <table class="eq-tile-info-table">
        <tr>
          <td>HTML</td>
          <td>{{colour-hex}}</td>
        </tr>
        <tr>
          <td>RGB</td>
          <td>{{colour-rgb}}</td>
        </tr>
        <tr>
          <td>SCSS</td>
          <td>${{colour-name}}</td>
        </tr>
      </table>
  </div>
</div>
