<div class="field">
  {{> @label}}
  <div class="input-type">
    <input data-qa="input-number" id="{{label_for}}" class="input input-type__input" name="{{title}}" title="{{title}}" type="number" pattern="[0-9]*">
    <abbr aria-hidden="true" title="{{title}}" class="input-type__type" id="{{title}}-type">{{unit}}</abbr>
  </div>
</div>
