<div class="{{nav-wrapper-classes}}" id="section-nav">
  <h2 class="nav__title venus">{{nav-title}}</h2>
  <ul class="{{nav-inner-classes}}">
    {{#each nav-items}}
      <li class="nav__item pluto {{item_class}}">
        <a class="nav__link" href="{{item_url}}">{{item}}</a>
      </li>
    {{/each}}
  </ul>
</div>
