<fieldset class="fieldgroup fieldgroup--inline">

  <legend id="duration-label" class="fieldgroup__title u-fs-r--b">{{label}}</legend>

  <div class="fieldgroup__fields">
    <div class="field">
      <div class="input-type">
        <input data-qa="input-number"
               id="{{id}}1"
               class="input {{ concatStr 'input--w-' unit1Length }} input-type__input"
               name="{{id}}1"
               pattern="[0-9]*"
               type="number"
               aria-labelledby="duration-label"
               title="{{or unit1Title unit1 }}" />
        <abbr aria-hidden="true" title="{{or unit1Title unit1 }}" class="input-type__type" id="{{id}}-type1">{{unit1}}</abbr>
      </div>
    </div>

    <div class="field">
      <div class="input-type">
        <input data-qa="input-number"
               id="{{id}}2"
               class="input {{ concatStr 'input--w-' unit2Length }} input-type__input"
               name="{{id}}2"
               pattern="[0-9]*"
               type="number"
               aria-labelledby="duration-label"
               title="{{or unit2Title unit2 }}" />
        <abbr aria-hidden="true" title="{{or unit2Title unit2 }}" class="input-type__type" id="{{id}}-type2">{{unit2}}</abbr>
      </div>
    </div>

    <div class="field">
      <div class="input-type">
        <input data-qa="input-number"
               id="{{id}}3"
               class="input {{ concatStr 'input--w-' unit3Length }} input-type__input"
               name="{{id}}3"
               pattern="[0-9]*"
               type="number"
               aria-labelledby="duration-label"
               title="{{or unit3Title unit3 }}" />
        <abbr aria-hidden="true" title="{{or unit3Title unit3 }}" class="input-type__type" id="{{id}}-type3">{{unit3}}</abbr>
      </div>
    </div>
  </div>
</fieldset>
