<fieldset class="fieldgroup fieldgroup--duration">

  <legend id="duration-label" class="fieldgroup__title venus">{{label}}</legend>

  <div class="fieldgroup__fields">
    <div class="field fieldgroup__hours">
      <div class="input-type input-type--unit">
        <input data-qa="input-number"
               id="{{label}}1"
               class="input input--number input--with-unit input--block"
               name="{{label}}1"
               value=""
               pattern="[0-9]*"
               aria-labelledby="duration-label {{label}}-type1" />
        <abbr title="{{unit1Title}}" class="input-type__type input-type__type--duration" id="{{label}}-type1">{{unit1}}</abbr>
      </div>
    </div>

    <div class="field fieldgroup__mins">
      <div class="input-type input-type--unit">
        <input data-qa="input-number"
               id="{{label}}2"
               class="input input--number input--with-unit input--block"
               name="{{label}}2"
               value=""
               pattern="[0-9]*"
               aria-labelledby="duration-label {{label}}-type2" />
        <abbr title="{{unit2Title}}" class="input-type__type input-type__type--duration" id="{{label}}-type2">{{unit2}}</abbr>
      </div>
    </div>

    <div class="field fieldgroup__secs">
      <div class="input-type input-type--unit">
        <input data-qa="input-number"
               id="{{label}}3"
               class="input input--number input--with-unit input--block"
               name="{{label}}3"
               value=""
               pattern="[0-9]*"
               aria-labelledby="duration-label {{label}}-type3" />
        <abbr title="{{unit3Title}}" class="input-type__type input-type__type--duration" id="{{label}}-type3">{{unit3}}</abbr>
      </div>
    </div>
  </div>
</fieldset>
