{{#if title}}<h2 class="saturn">When did you leave your last paid job?</h2>{{/if}}
<fieldset class="field field--exclusive">
  <legend class="field__legend mars u-vh">{{fieldset_legend}}</legend>
  <div class="field__label venus">{{field_label}}</div>
  
  <div class="fieldgroup fieldgroup--date" data-qa="widget-date">
    <div class="fieldgroup__fields">
      <div class="field field--input field--day">
        <label class="label mercury" data-qa="label-day" for="date-range-from-day">{{day_label}}</label>
        <input id="date-range-from-day" data-value="Day" placeholder="DD" value="" data-qa="input-StringField" class="input input--StringField js-exclusive-group">
      </div>

      <div class="field field--select field--month">
        <label class="label mercury" for="date-range-from-month" id="label-date-range-from-month" data-qa="label-month">{{month_label}}</label>
        <select class="input input--select js-exclusive-group" data-value="month" id="date-range-from-month" name="date-range-from-month">
          {{#each months}}
            <option value="{{value}}"
              {{#if disabled}}disabled="disabled"{{/if}}
              {{#if selected}}selected="selected"{{/if}}>{{label}}</option>
          {{/each}}
        </select>
      </div>

      <div class="field field--input field--year">
        <label class="label mercury" data-qa="label-year" for="date-range-from-year">{{year_label}}</label>
        <input placeholder="YYYY" value="" data-qa="input-StringField" id="date-range-from-year" data-value="Year" class="input input--StringField js-exclusive-group">
      </div>
    </div>
  </div>

  <div class="field__label u-mt-s venus" aria-hidden="true">{{or}},</div>

  <div class="field field--checkbox field--multiplechoice field--exclusive">
    <div class="field__item js-focusable-box">
      <input class="input input--checkbox js-focusable js-exclusive-checkbox" name="heating-type" value="{{or_option_value}}" id="none" type="checkbox">
      <label class="label label--inline venus " for="none">
          <span class="u-vh">{{or}},</span> {{or_option_text}}<span class="u-vh">. {{or_deselect_message}}</span>
      </label>
      <span class="js-exclusive-alert u-vh" role="alert" aria-live="polite" data-adjective="{{or_deselect_adjective}}"></span>
    </div>
  </div>
</fieldset>
