<dl class="metadata metadata__list grid grid--gutterless"{{#if metadata_label}} aria-label="{{metadata_label}}"{{/if}}>
{{#if metadata_items}}
  {{#each metadata_items}}
  <dt class="metadata__term grid__col col-{{metadata_item_col}}@m venus">{{metadata_item}}</dt>
  {{#if metadata_value}}
    {{#each metadata_value}}
  <dd class="metadata__value grid__col col-{{../metadata_value_col}}@m">{{{this}}}</dd>
  	{{/each}}
  {{else}}
  <div class="grid__col col-{{metadata_value_col}}@m">
    {{#each metadata_values}}
  <dd class="metadata__value">{{{this}}}</dd>
    {{/each}}
  </div>
  {{/if}}
  {{/each}}
{{/if}}
</dl>
