<div class="info {{info_classes}}" role="contentinfo">
  <h3 class="info__title venus" id="help">Help</h3>
  <div class="info__tel">
    <a class="info__link" href="tel:{{phone}}" aria-describedby="help">{{phone}}</a>
  </div>
  <div>
    <dl class="info__list">
      <dt class="info__dt first"><abbr title="Survey identification code">ID:</abbr></dt>
      <dd class="info__dd">{{id}}</dd>
      <dt class="info__dt">Period:</dt>
      <dd class="info__dd">{{date}}</dd>
      <dt class="info__dt"><abbr title="Reference number">Ref:</abbr></dt>
      <dd class="info__dd last">{{ref}}</dd>
    </dl>
  </div>
</div>
